# Forçar linguagem reconhecida
*.asm linguist-language=Assembly
*.alg linguist-language=Algol

# Ignorar ficheiros minificados e binários nas estatísticas de linguagem
*.min.js linguist-generated
*.exe linguist-vendored
*.dll linguist-vendored

# Normalizar fim de linha para Linux
*.sh text eol=lf

# Definir que imagens são binárias
*.png binary
*.jpg binary
